/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}
.font-noto-sans {
  font-family: "Noto Sans JP", sans-serif;
}
.global-header {
  background: #fff;
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  /* z-index: 1; */
}
.global-box {
  /* margin: 0; */
  /* width: 100vw; */
  height: 100vh;
  min-height: 450px;
}
.hero-image {
  background-image: url("sample_image.jpg");
  background-size: cover;
}
.global-nav ul {
  overflow: hidden;
}
.global-nav ul li {
  float: left;
  width: 150px;
  list-style: none;
}
.global-nav li a {
  text-decoration: none;
  color: #333;
}
input {
  width: 100%; /*親要素いっぱい広げる*/
  padding: 10px 15px; /*ボックスを大きくする*/
  font-size: 16px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #ddd; /*枠線*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: #e4e4e4;
  }
  a {
    color: #e39777;
  }
  img {
    filter: grayscale(30%);
  }
}
