:root {
  /* --sidebar-gap: 1px; */
  --color-background: #fffffe;
  --color-sub-background: #f6f6f6;
  --color-text: #094067;
  --color-sub-text: #5f6c7b;
  --color-main: #3da9fc;
  --color-sub-main: #ef4565;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1f1f1f;
    --color-sub-background: #282828;
    --color-text: #aaaaaa;
    --color-sub-text: #ffffff;
    --color-main: #ff0000;
    --color-sub-main: #3ea6ff;
  }
}
