*,
::before,
::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  transition: 0.5s;
}
.layout-sidebar {
  display: grid;
  gap: var(--sidebar-gap);
  grid-template-columns: minmax(280px, 13fr) 50fr;
}
.pane-main {
  order: 2;
  background-color: var(--color-background);
  color: var(--color-text);
}
.pane-sidebar {
  order: 1;
  background-color: var(--color-sub-background);
  color: var(--color-text);
}
